@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  width: calc(100% - 2px);
  min-width: 20px;
  height: 24px;
  background: rgba(0, 0, 0, 0.05);
  padding: 1px 3px;
  margin: 0;
  color: #191813;
  font-family: inherit;
  font-size: inherit;
  text-align: inherit;
  line-height: inherit;
  border: 1px solid #7a7971;
  border-radius: 3px;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  -moz-appearance: textfield;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;  
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 1 / span 1;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 0px;
  margin: 10px 0;
  padding: 0;
}

.grid-skills {
  grid-column: span 2 / span 2;
  grid-template-columns: auto auto;
}

.block-2col {
  display: block;
  grid-column: span 1 / span 1;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 0px;
  margin-right: 30px;
  padding: 0;
}

.grid-core {
  grid-column: span 3 / span 3;
  grid-template-columns: 300px 550px 400px;
}

.max100 {
  max-width: 100px;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-8row {
  grid-template-rows: repeat(8, minmax(0, 1fr));
}

.grid-12row {
  grid-template-rows: repeat(12, minmax(0, 1fr));
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: baseline;
  text-align: center;
  padding: 2px;;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* Styles limited to splittermond sheets */
.splittermond .item-form {
  font-family: "Roboto", sans-serif;
}

.splittermond .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 1;
  flex: 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.splittermond .sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}

.splittermond .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.splittermond .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.splittermond .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.splittermond .sheet-tabs {
  background-color: #0489B1;
  color: white;
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.splittermond .sheet-body,
.splittermond .sheet-body .tab,
.splittermond .sheet-body .tab .editor {
  height: 100%;
}

.splittermond .tox .tox-editor-container {
  background: #fff;
}

.splittermond .tox .tox-edit-area {
  padding: 0 8px;
}

.splittermond .resource-label-center {
  font-weight: bold;
  font-size: small;
  text-transform: uppercase;
  text-align: center;
}

.splittermond .resource-label-left {
  font-weight: bold;
  font-size: small;
  text-transform: uppercase;
  text-align: left;
  padding-left: 10px;
  width: 0;
}

.splittermond .resource-label-right {
  font-weight: bold;
  font-size: small;
  text-transform: uppercase;
  text-align: right;
  padding-left: 10px;
}

.splittermond .tabs {
  height: 40px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}

.splittermond .tabs .item {
  line-height: 40px;
  font-weight: bold;
}

.splittermond .tabs .item.active {
  background-color: #66BDED;
  color: black;
  text-decoration: underline;
  text-shadow: none;
}

.splittermond .items-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}

.splittermond .items-list .item-header {
  font-weight: bold;
}

.splittermond .items-list .item {
  height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}

.splittermond .items-list .item .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  margin-right: 5px;
}

.splittermond .items-list .item img {
  display: block;
}

.splittermond .items-list .item-name {
  margin: 0;
}

.splittermond .items-list .item-controls {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 86px;
  flex: 0 0 86px;
  text-align: right;
}
