<div>
    <select id="rollTypes">
        {{#each SpmndRollTypes as |rollType key|}}
            <option value="{{rollType}}">{{localize rollType}}</option>
        {{/each}}
      </select>
    <button id="rollButton" type="button">Würfeln</button>
</div>