<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
            use both the "grid" and "grid-Ncol" class where "N" can be any number
            from 1 to 12 and will create that number of columns.  --}}
      <div class="resources grid grid-2col">
        {{!-- "flex-group-center" is also defined in the _grid.scss file
              and it will add a small amount of padding, a border, and will
              center all of its child elements content and text. --}}
        <div class="resource flex-group-center">
          <label for="data.health.value" class="resource-label-center">Health</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="data.health.value" value="{{data.health.value}}" data-dtype="Number" />
            <span> / </span>
            <input type="text" name="data.health.max" value="{{data.health.max}}" data-dtype="Number" />
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="data.power.value" class="resource-label-center">Power</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="data.power.value" value="{{data.power.value}}" data-dtype="Number" />
            <span> / </span>
            <input type="text" name="data.power.max" value="{{data.power.max}}" data-dtype="Number" />
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="sheet-header">
    <div class="header-fields">

    </div>
  </section>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="core">{{localize "Splittermond.Tab.Core"}}</a>
    <a class="item" data-tab="skillsandmagic">{{localize "Splittermond.Tab.SkillsAndMagic"}}</a>
    <a class="item" data-tab="battleandmasteries">{{localize "Splittermond.Tab.BattleAndMasteries"}}</a>
    <a class="item" data-tab="characterdev">{{localize "Splittermond.Tab.CharacterDevelopment"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div class="tab core" data-group="primary" data-tab="core">
      <div class="grid grid-core">
        {{!-- Personal Informations --}}
        <div class="grid grid-2col">
          <div class="flexrow flex-group-center">
            <label class="resource-label-left">Persönliche Informationen</label>
          </div>
          <div class="personal flexrow flex-group-center">
            <label for="" class="resource-label-left">{{localize "Splittermond.Personal.MoonSign"}}</label>
            <input type="text" name="" value="" data-dtype="String" />
          </div>
          <div class="personal flexrow flex-group-center">
            <label for="" class="resource-label-left">{{localize "Splittermond.Personal.Apprenticeship"}}</label>
            <input type="text" name="" value="" data-dtype="String" />
          </div>
          <div class="personal flexrow flex-group-center">
            <label for="" class="resource-label-left">{{localize "Splittermond.Personal.Culture"}}</label>
            <input type="text" name="" value="" data-dtype="String" />
          </div>
          <div class="personal flexrow flex-group-center">
            <label for="" class="resource-label-left">{{localize "Splittermond.Personal.Race"}}</label>
            <input type="text" name="" value="" data-dtype="String" />
          </div>
          <div class="personal flexrow flex-group-center">
            <label for="" class="resource-label-left">{{localize "Splittermond.Personal.Ancestry"}}</label>
            <input type="text" name="" value="" data-dtype="String" />
          </div>
          <div class="personal flexrow flex-group-center">
            <label for="" class="resource-label-left">{{localize "Splittermond.Personal.Birthplace"}}</label>
            <input type="text" name="" value="" data-dtype="String" />
          </div>
          <div class="personal flexrow flex-group-center">
            <label for="" class="resource-label-left">{{localize "Splittermond.Personal.Gender"}}</label>
            <input type="text" name="" value="" data-dtype="String" />
          </div>
          <div class="personal flexrow flex-group-center">
            <label for="" class="resource-label-left">{{localize "Splittermond.Personal.Haircolor"}}</label>
            <input type="text" name="" value="" data-dtype="String" />
          </div>
          <div class="personal flexrow flex-group-center">
            <label for="" class="resource-label-left">{{localize "Splittermond.Personal.Eyecolor"}}</label>
            <input type="text" name="" value="" data-dtype="String" />
          </div>
          <div class="personal flexrow flex-group-center">
            <label for="" class="resource-label-left">{{localize "Splittermond.Personal.Skincolor"}}</label>
            <input type="text" name="" value="" data-dtype="String" />
          </div>
          <div class="personal flexrow flex-group-center">
            <label for="" class="resource-label-left">{{localize "Splittermond.Personal.Height"}}</label>
            <input type="text" name="" value="" data-dtype="String" />
          </div>
          <div class="personal flexrow flex-group-center">
            <label for="" class="resource-label-left">{{localize "Splittermond.Personal.Weight"}}</label>
            <input type="text" name="" value="" data-dtype="String" />
          </div>
        </div>
        {{!-- Attributes --}}
        <div class="grid">
          <div class="flexrow flex-group-center">
            <label class="resource-label-left">Name</label>
            <label class="resource-label-center"></label>
            <label class="resource-label-center">Start</label>
            <label class="resource-label-center">Wert</label>
            <label class="resource-label-center">Maximum</label>
            <label class="resource-label-center"></label>
          </div>
          {{#each data.abilities as |ability key|}}
          <div class="flexrow flex-group-center">
            <label for="data.abilities.{{key}}.value" class="resource-label-left">{{localize ability.name}}</label>
            <label for="data.abilities.{{key}}.value"
              class="resource-label-center">{{localize ability.shortcut}}</label>
            <input type="number" name="data.abilities.{{key}}.start" value="{{ability.start}}" data-dtype="Number" />
            <input type="number" name="data.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number" />
            <input type="number" name="data.abilities.{{key}}.max" value="{{ability.max}}" data-dtype="Number" />
            <span class="ability-mod rollable" data-roll="@abilities.{{key}}.value"
              data-label="{{localize ability.name}}">{{numberFormat ability.mod decimals=0 sign=true}}</span>
          </div>
          {{/each}}
        </div>
        {{!-- Sub Attributes --}}
        <div class="grid">
          <div class="flexrow flex-group-center">
            <label class="resource-label-left">Name</label>
            <label class="resource-label-center max100">Wert</label>
            <label class="resource-label-center max100">Mod</label>
          </div>
          <div class="personal flexrow flex-group-center">
            <label for="" class="resource-label-left">{{localize "Splittermond.Values.SizeClass"}}</label>
            <input class="max100" type="number" name="" value="" data-dtype="Number" />
            <input class="max100" type="number" name="" value="" data-dtype="Number" />
          </div>
          <div class="personal flexrow flex-group-center">
            <label for="" class="resource-label-left">{{localize "Splittermond.Values.Speed"}}</label>
            <input class="max100" type="number" name="" value="" data-dtype="Number" />
            <input class="max100" type="number" name="" value="" data-dtype="Number" />
          </div>
          <div class="personal flexrow flex-group-center">
            <label for="" class="resource-label-left">{{localize "Splittermond.Values.Initiative"}}</label>
            <input class="max100" type="number" name="" value="" data-dtype="Number" />
            <input class="max100" type="number" name="" value="" data-dtype="Number" />
          </div>
          <div class="personal flexrow flex-group-center">
            <label for="" class="resource-label-left">{{localize "Splittermond.Values.Health"}}</label>
            <input class="max100" type="number" name="" value="" data-dtype="Number" />
            <input class="max100" type="number" name="" value="" data-dtype="Number" />
          </div>
          <div class="personal flexrow flex-group-center">
            <label for="" class="resource-label-left">{{localize "Splittermond.Values.Focus"}}</label>
            <input class="max100" type="number" name="" value="" data-dtype="Number" />
            <input class="max100" type="number" name="" value="" data-dtype="Number" />
          </div>
          <div class="personal flexrow flex-group-center">
            <label for="" class="resource-label-left">{{localize "Splittermond.Values.Defense"}}</label>
            <input class="max100" type="number" name="" value="" data-dtype="Number" />
            <input class="max100" type="number" name="" value="" data-dtype="Number" />
          </div>
          <div class="personal flexrow flex-group-center">
            <label for="" class="resource-label-left">{{localize "Splittermond.Values.MentalResistance"}}</label>
            <input class="max100" type="number" name="" value="" data-dtype="Number" />
            <input class="max100" type="number" name="" value="" data-dtype="Number" />
          </div>
          <div class="personal flexrow flex-group-center">
            <label for="" class="resource-label-left">{{localize "Splittermond.Values.PhysicalResistance"}}</label>
            <input class="max100" type="number" name="" value="" data-dtype="Number" />
            <input class="max100" type="number" name="" value="" data-dtype="Number" />
          </div>
          <div class="personal flexrow flex-group-center">
            <label for="" class="resource-label-left">{{localize "Splittermond.Values.DamageReduction"}}</label>
            <input class="max100" type="number" name="" value="" data-dtype="Number" />
            <input class="max100" type="number" name="" value="" data-dtype="Number" />
          </div>
        </div>
      </div>
      <div class="grid grid-core">
        {{!-- Resources --}}
        <div class="grid block-2col">
          <div class="flexrow flex-group-center">
            <label class="resource-label-left">Ressourcen</label>
          </div>
          <ol class="items-list">
            <li class="item flexrow item-header">
              <div class="item-image"></div>
              <div class="item-name">Name</div>
              <div class="item-controls">
                <a class="item-control item-create" title="Ressource hinzufügen" data-type="resource"><i
                    class="fas fa-plus"></i>Hinzufügen</a>
              </div>
            </li>
            {{#each actor.resources as |item id|}}
            <li class="item flexrow" data-item-id="{{item._id}}">
              <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
              <h4 class="item-name">{{item.name}}</h4>
              <div class="item-controls">
                <a class="item-control item-edit" title="Ressource editieren"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Ressource löschen"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            {{/each}}
          </ol>
        </div>
        {{!-- Stärken --}}
        <div class="grid block-2col">
          <div class="flexrow flex-group-center">
            <label class="resource-label-left">Stärken</label>
          </div>
          <ol class="items-list">
            <li class="item flexrow item-header">
              <div class="item-image"></div>
              <div class="item-name">Name</div>
              <div class="item-controls">
                <a class="item-control item-create" title="Stärke hinzufügen" data-type="strength"><i
                    class="fas fa-plus"></i>Hinzufügen</a>
              </div>
            </li>
            {{#each actor.strengths as |item id|}}
            <li class="item flexrow" data-item-id="{{item._id}}">
              <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
              <h4 class="item-name">{{item.name}}</h4>
              <div class="item-controls">
                <a class="item-control item-edit" title="Stärke editieren"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Stärke löschen"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            {{/each}}
          </ol>
        </div>
        {{!-- Schwächen --}}
        <div class="grid block-2col">
          <div class="flexrow flex-group-center">
            <label class="resource-label-left">Schwächen</label>
          </div>
          <ol class="items-list">
            <li class="item flexrow item-header">
              <div class="item-image"></div>
              <div class="item-name">Name</div>
              <div class="item-controls">
                <a class="item-control item-create" title="Schwäche erstellen" data-type="weakness"><i
                    class="fas fa-plus"></i>Hinzufügen</a>
              </div>
            </li>
            {{#each actor.weaknesses as |item id|}}
            <li class="item flexrow" data-item-id="{{item._id}}">
              <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
              <h4 class="item-name">{{item.name}}</h4>
              <div class="item-controls">
                <a class="item-control item-edit" title="Schwäche editieren"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Schwäche löschen"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            {{/each}}
          </ol>
        </div>
      </div>
      <div class="grid grid-core">
        {{!-- Sprachen --}}
        <div class="grid block-2col">
          <div class="flexrow flex-group-center">
            <label class="resource-label-left">Sprachen</label>
          </div>
          <ol class="items-list">
            <li class="item flexrow item-header">
              <div class="item-image"></div>
              <div class="item-name">Name</div>
              <div class="item-controls">
                <a class="item-control item-create" title="Sprache hinzufügen" data-type="language"><i
                    class="fas fa-plus"></i>Hinzufügen</a>
              </div>
            </li>
            {{#each actor.languages as |item id|}}
            <li class="item flexrow" data-item-id="{{item._id}}">
              <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
              <h4 class="item-name">{{item.name}}</h4>
              <div class="item-controls">
                <a class="item-control item-edit" title="Sprache editieren"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Sprache löschen"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            {{/each}}
          </ol>
        </div>
        {{!-- Kulturkunde --}}
        <div class="grid block-2col">
          <div class="flexrow flex-group-center">
            <label class="resource-label-left">Kulturkunde</label>
          </div>
          <ol class="items-list">
            <li class="item flexrow item-header">
              <div class="item-image"></div>
              <div class="item-name">Name</div>
              <div class="item-controls">
                <a class="item-control item-create" title="Kultur hinzufügen" data-type="culture"><i
                    class="fas fa-plus"></i>Hinzufügen</a>
              </div>
            </li>
            {{#each actor.cultures as |item id|}}
            <li class="item flexrow" data-item-id="{{item._id}}">
              <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
              <h4 class="item-name">{{item.name}}</h4>
              <div class="item-controls">
                <a class="item-control item-edit" title="Kultur editieren"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Kultur löschen"><i class="fas fa-trash"></i></a>
              </div>
            </li>
            {{/each}}
          </ol>
        </div>
      </div>
    </div>
    <!--
        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">
            {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
        </div>
        -->

    <div class="tab skillsandmagic" data-group="primary" data-tab="skillsandmagic">
      <div class="grid grid-skills">
        <div class="grid-2col">
          <div class="flexrow flex-group-center">
            <label class="resource-label-left">Skills</label>
          </div>
          {{#each data.skills as |skills key|}}
          <div class="flexrow flex-group-center">
            <label for="data.skills.{{key}}.value" class="resource-label-left">{{localize skills.name}}</label>
            <input type="number" name="data.skills.{{key}}.value" value="{{skill.value}}" data-dtype="Number" />
            <input type="number" name="data.skills.{{key}}.mod" value="{{ability.mod}}" data-dtype="Number" />
            <span class="skills-mod rollable" data-roll="@skills.{{key}}.value"
              data-label="{{localize skills.name}}">{{numberFormat ability.mod decimals=0 sign=true}}</span>
          </div>
          {{/each}}
        </div>
        <div class="grid-2col">
          <div class="flexrow flex-group-center">
            <label class="resource-label-left">Skills</label>
          </div>
          {{#each data.skills as |skills key|}}
          <div class="flexrow flex-group-center">
            <label for="data.skills.{{key}}.value" class="resource-label-left">{{localize skills.name}}</label>
            <input type="number" name="data.skills.{{key}}.value" value="{{skill.value}}" data-dtype="Number" />
            <input type="number" name="data.skills.{{key}}.mod" value="{{ability.mod}}" data-dtype="Number" />
            <span class="skills-mod rollable" data-roll="@skills.{{key}}.value"
              data-label="{{localize skills.name}}">{{numberFormat ability.mod decimals=0 sign=true}}</span>
          </div>
          {{/each}}
        </div>
      </div>
    </div>

    <div class="tab battleandmasteries" data-group="primary" data-tab="battleandmasteries">
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab characterdev" data-group="primary" data-tab="characterdev">
      <div class="grid">
        <label class="resource-label-left">Ausrüstung</label>
        <ol class="items-list">
          <li class="item flexrow item-header">
            <div class="item-image"></div>
            <div class="item-name">Name</div>
            <div class="item-controls">
              <a class="item-control item-create" title="Create item" data-type="item"><i class="fas fa-plus"></i> Add
                item</a>
            </div>
          </li>
          {{#each actor.gear as |item id|}}
          <li class="item flexrow" data-item-id="{{item._id}}">
            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
            <h4 class="item-name">{{item.name}}</h4>
            <div class="item-controls">
              <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
              <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
          </li>
          {{/each}}
        </ol>
      </div>
    </div>

  </section>
</form>